<h2>Categories</h2>
  <ul>
    <% @categories.each() do |category|%>
    <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
    <% end %>
  </ul>

  <h2>Add a new category</h2>
  <br>
  <form action="/categories" method="post">
    <label for="name">Category Name</label>
    <input type="text" name="name">
    <button class="btn btn-default" type="submit" name="add_button">Add</button>
  </form>
  <br>
  <form class="form-inline" method="get" action="/">
    <button type="submit" class="btn btn-danger" name="clear_btn">Back</button>
  </form>
