<h1>Recipe Box</h1>

<div class="container">
  <a href="/recipes">View all recipes</a>
  <br>
  <a href="/recipes/new">Add a new recipe</a> 
  <br>
  <a href="/ingredients/new">Add a new ingredient</a>
  <br>
  <a href="/categories/new">Add a new category</a>
  <br>

</div>
