<h2>Add a new recipe</h2>

<form action="/recipes>" method="post">
  <label for="name">Recipe Name</label>
  <input type="text" name="name">
  <button class="btn btn-default" type="submit" name="add_button">Add</button>
</form>

<ul>
  <% @recipes.each() do |recipe|%>
  <li><%= recipe.name %></li>
  <a href="/recipes/<%= recipe.id %>/edit">Edit this recipe</a>
  <% end %>
</ul>

<form class="form-inline" method="get" action="/">
  <button type="submit" class="btn btn-danger" name="clear_btn">Back</button>
</form>
